
body{
  background: #efefef;
}

.search-box{
  background: #f89b33;
  box-shadow: 1px 2px 2px #9e9e9e;
}
.search-item{
    width: 35%;
    height: 26px;
    margin: 6px 50px 0px;
    float: right;
    padding: 7px 15px;
    border-radius: 5px;
    border: 0;
}
.search-icon{
    position: inherit;
    margin: 15px 35px 0px -82px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.logo{
    height: 35px;
    margin: 8px 50px 8px 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #f78f1a;
}
.btn-login{
    color: #fff;
    background-color: #008286;
    border-color: transparent;
    height: 30px;
    padding: 10px 25px 3px;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 0px; */
    margin-top: 5px;
}
.btn-login:hover{
  background: #00696d;
}
.mobile{
  opacity: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 40px;
  position: absolute;
  height: 100vh;
  background: #2b2b2b;
  z-index: 9;
  margin-top: -147px;
  padding: 25px;
  margin-left: -400px;
}
[class*="active"] .mobile{
  opacity: 9.9;
  margin-left: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.btn-mobile{
    padding: 5px 23px 15px;
    background: #a46214;
    color: #fff;
    font-size: 1.4em;
    border-radius: 7px;
    height: 24px;
    margin-top: 5px;
    margin-bottom: 6px;
    display: none;
}
@media only screen and (max-width:1144px) {
    .search-item{
   width: 33%;
    
  }
}
@media only screen and (max-width:1112px) {
     .search-item{
    
    width: 31%;
  }
}
@media only screen and (max-width:1185px) {
     .search-item{
    width: 35%;
    
  }
}
@media only screen and (max-width:1170px) {
     .search-item{
    width: 34%;
    
  }
}
@media only screen and (max-width:1142px) {
     .search-item{
    width: 29%;
    
  }
}
@media only screen and (max-width:1136px) {
  .search-item{
    width: 55%;
    
  }
  .btn-mobile{
    display: block;
  }
  .btn-login{
    display: none;
  }
  .list ul{
    display: none
  }
}
@media only screen and (max-width:999px) {
  .search-item{
    width: 52%;
    
  }
  
}
@media only screen and (max-width:912px) {
  .search-item{
    width: 47%;
    
  }
  
}

@media only screen and (max-width:880px) {
  .search-item{
    width: 44%;
    
  }
  
}
@media only screen and (max-width:810px) {
  .search-item{
    width: 41%;
    
  }
  
}
@media only screen and (max-width:700px) {
  .search-item{
    width: 30%;
    
  }
  
}
@media only screen and (max-width:658px) {
 
  .search-item{
    width: 35%;
    height: 26px;
    margin: 6px 50px 0px -25px;
  
}
  
}
@media only screen and (max-width:658px) {
 
  .search-item{
    width: 30%;
   
  
}
  
}
@media only screen and (max-width:494px) {
 
  .search-item{
    width: 28%;
   
  
}
  
}