
body{
  background: #efefef;
}

.search-box{
  background: #f89b33;
  background: #ff500a;
  box-shadow: 1px 2px 2px #9e9e9e;
}
.search-item{
  width: 100%;
  height: 26px;
  margin: 6px 0px 0px;
  float: right;
  padding: 7px 18px 7px 50px;
  border-radius: 5px;
  border: 0;
  font-size: 1.1em;
  font-weight: 100;
  color: #30448f;
}
.search-icon{
  position: absolute;
  margin: 14px 0 0 -52px;
  /*color: #a46214;*/
  color: #d85c45;
  font-weight: 100;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list{
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

div.columns{
  flex: 1;
  padding: 1px;
  margin: 0px 5px;
  
}
div.columns:nth-of-type(2){
    flex: 2;
}
div.columns:nth-of-type(3){
    flex: 2.5;
}
div.columns:nth-of-type(4){
    flex: 1;
    text-align: right;
}
.logo{
  height: 35px;
  margin: 8px 50px 8px 0px;
}
ul.desktop-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.desktop-menu li {
  float: left;
}

ul.desktop-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 30px;
  text-decoration: none;
}

ul.desktop-menu li a:hover {
  /*background-color: #f78f1a;*/
  background: #cd3c21;
}
.btn-login{
  color: #fff;
  /*background-color: #008286;*/
  background: #363a91;
  
  border-color: transparent;
  padding: 12px 0px 12px;
  border-radius: 7px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  /* margin-top: 0px; */
  margin-top: 5px;
  text-align: center;
}
.btn-login:hover{
  /*background: #00696d;*/
  background-color: #7882f0; 

}
.mobile{
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-top: 40px;
  position: absolute;
  height: 100vh;
  background: #2b2b2b;
  z-index: 9;
  margin-top: -6px;
  padding: 25px;
  margin-left: -400px;
  width: 216px;
  margin: -400px !important;
}
[class*="active"] .mobile ul{
  display: block !important;
}
[class*="active"] .mobile{
  opacity: 9.9;
  margin-left: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  margin: -15px !important;
}
.mobile-x{
  display: none;
}
.mobile-x ul{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.mobile-x ul li{
  flex: 1 1;
  padding: 1px;
  margin: 0px;
  padding: 12px;
  list-style: none;
  text-align: center;
  background: #353535;
  color: #fff;
}
.mobile-x ul li:hover{
  background: #000;
  color: #fff;
}
.mobile-x ul li:nth-of-type(1){
    border-right: 1px solid #ff500a;
}
.mobile-x a{
  display: block;
  text-decoration: none;
  color: #fff;
}

.btn-mobile{
  padding: 5px 23px 15px;
  background: #a46214;
  color: #fff;
  font-size: 1.4em;
  border-radius: 7px;
  height: 24px;
  margin: 5px auto;
  margin-bottom: 6px;
  display: none;
  text-align: center;
  cursor: pointer;
}
.mobile a{
  display: block;
  border-bottom: 1px solid;
  padding: 16px 0px 14px 22px;
  /* background: #ccc; */
  width: 100%;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #797979;
}
.mobile a:hover{
  background: #404040;
}
.mobile ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

[class*="menus"]{
    /*border-bottom: 3px solid transparent;*/
}

[class*="active-menu"]{
    /*border-bottom: 3px solid #d47001;
    background: #dc9209;*/
}
footer{
  background: #ff500a;
}
footer p{
  margin: 0;
  padding: 30px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
@media only screen and (max-width:1136px) {
   div.columns:nth-of-type(2), .search-icon, .list ul{
    display: none;
  }
  /*.btn-mobile{
    display: block;
    width: 123px;
  }*/
  .mobile-x{
    display: block;
  }
  .search-item{
    padding: 7px 18px 7px 17px;
  }
  div.columns{
    text-align: center;
  }
 
}
@media only screen and (max-width:740px) {
  .only-desktop{
    display: none;
  }
}

@media only screen and (max-width:590px) {
  
   div.columns:nth-of-type(1){
      flex: none;
      width: 100%
  }
  div.columns:nth-of-type(3){
      flex: 4;
      padding-left: 35px;
  }
  div.columns:nth-of-type(4){
     
  }
  .btn-mobile{
    width: 35px;
  }
  .list{
    padding: 0px 12px;
    margin-bottom: 15px;
  }



}

@media only screen and (max-width:480px) {
  div.columns:nth-of-type(4){
     display: none;
  }
}
