/*2019*/
.list{
  max-width: 1200px;
  margin: 0 auto;
}

.card img {
  width: 100%;
}
.card-info {
  margin-top: auto;
}
.search-box{
  background: #ccc;
}

.cards-wrap {
  margin: 0 auto;
  height: 100%;
  width: 96%;
  position: relative;
  z-indez: 100;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.cards-wrap h2{
  padding: 15px;
  color: #000;
  font-weight: 100;
}

.card {
  background: #000;
  display: inline-block;
  height: auto;
  position: relative;
  width: 20%;
  text-align: left;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}


.card h5{
    padding: 0;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 1em;
    /*color: #4e4e4e;*/
    font-weight: 400;
    font-size: 1.1em;
    color: #d85c45;
}
.card h6{
    margin: 0;
    margin-top: 10px;
    font-size: 0.8em;
    color: #676767;
    font-weight: 200;
}
.btn-read{
  background: #30448f;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 12px;
  width: 60%;
  margin: 12px auto;
}
.product-info{
  margin-top: -100px;
  /* background: #000000ab !important; */
  height: 100px;
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  /* padding: 4px; */
  text-align: center;
  background-color: #180707cf;
  background-image: linear-gradient( #302d2d00, #000 );
}
@media only screen and (max-width:1142px) {
   .card {
  
    width: 20%;
  
  }
}


@media (max-width: 720px) {

  .card {
  
    width: 50%;
  
  }
  
}
@media only screen and (max-width:412px) {
  
  .card {
  
    width: 100%;
  
  }
}
